@font-face {
    font-family: 'Gilroy';
    src: url('Gilroy-Regular.eot');
    src: local('Gilroy Regular'), local('Gilroy-Regular'),
        url('fonts/gilroy/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/gilroy/Gilroy-Regular.woff2') format('woff2'),
        url('fonts/gilroy/Gilroy-Regular.woff') format('woff'),
        url('fonts/fonts/gilroy/Gilroy-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy';
    src: url('Gilroy-Semibold.eot');
    src: local('Gilroy Semibold'), local('Gilroy-Semibold'),
        url('fonts/gilroy/Gilroy-Semibold.eot?#iefix') format('embedded-opentype'),
        url('fonts/gilroy/Gilroy-Semibold.woff2') format('woff2'),
        url('fonts/gilroy/Gilroy-Semibold.woff') format('woff'),
        url('fonts/gilroy/Gilroy-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy';
    src: url('Gilroy-Medium.eot');
    src: local('Gilroy Medium'), local('Gilroy-Medium'),
        url('fonts/gilroy/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/gilroy/Gilroy-Medium.woff2') format('woff2'),
        url('fonts/gilroy/Gilroy-Medium.woff') format('woff'),
        url('fonts/gilroy/Gilroy-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy';
    src: url('Gilroy-Extrabold.eot');
    src: local('Gilroy Extrabold'), local('Gilroy-Extrabold'),
        url('fonts/gilroy/Gilroy-Extrabold.eot?#iefix') format('embedded-opentype'),
        url('fonts/gilroy/Gilroy-Extrabold.woff2') format('woff2'),
        url('fonts/gilroy/Gilroy-Extrabold.woff') format('woff'),
        url('fonts/gilroy/Gilroy-Extrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

body {
	margin: 0;
    font-family: 'Gilroy', Arial, Helvetica;
    background-color: #F7F7F7;
}

h1 {
	font-size: 64px;
	font-weight: 800;
	line-height: 77px;
}

/* Атомарные классы */
.container {
	max-width: 1200px;
	margin: 0 auto;
}

.block {
	margin-top: 200px;
	margin-bottom: 200px;
}

.bimg {
	display: block;
	width: 100%;
}

.title_area {
	margin-bottom: 64px;
}
.title_area.s1 {
	text-align: center;
}
.title_area .descr {
	color: #808080;
	font-size: 17px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 4.6px;
	margin-bottom: 15px;
}
.title_area h2 {
	color: #212121;
	font-size: 56px;
	font-weight: bolder;
	margin: 0;
}

.btn_area {
	display: flex;
	justify-content: center;
	margin-top: 40px;
}
.btn {
	background-color: #212121;
	color: #FFF;
	display: inline-block;
	font-size: 18px;
	padding: 13px 5px;
	text-decoration: none;
	border: 0;
	font-weight: 500;
	text-align: center;
	cursor: pointer
}
.btn.s2 {
	font-size: 24px;
	padding: 17px 32px;
}

.tab-area .tab-page .tab-item {
	display: none;
}
.tab-area .tab-item.active {
	display: block;
	color: blue; /* удалить */
}
/* Побочное, для вида */
.tab-area .tab-label {
	display: flex;
	margin-bottom: 10px;
}
.tab-area .tab-label .tab-item {
	padding: 5px;
	border: 1px solid #ccc;
	cursor: pointer;
	margin-right: 5px;
}

/* Основные стили */
nav {
	display: flex;
	gap: 64px;
}
nav a {
	text-decoration: none;
	font-size: 18px;
	color: #212121;
	font-weight: 500;
}

header {
	height: 625px;
	background: #CCC url(images/header_back.png) no-repeat right bottom;
}
header .container {
	display: flex;
	flex-direction: column;
	height: inherit;
}
header .row.c1 {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px 0;
}
header .row.c2 {
	display: flex;
	flex-grow: 1;
	justify-content: center;
	flex-direction: column;
	font-size: 24px;
}
header .btn.sign_in {
	background: url(images/icons/sign_in.png) no-repeat 88px 11px;
	background-color: #212121;
	padding: 12px 55px 12px 26px;
}

#about .container {
	display: flex;
	gap: 75px;
}
#about .col.c1 {
	flex-grow: 1;
}
#about p {
	font-size: 18px;
	line-height: 1.45;
	letter-spacing: 0.07px;
	margin: 12px 0 0 0;
}
#about .btn.s2 {
	margin-top: 40px;
}

#digits {
	background-color: #212121;
}
#digits .container {
	display: flex;
	justify-content: space-evenly;
	text-align: center;
	padding: 64px 0;
	flex-wrap: wrap;
	gap: 15px;
}
#digits .digit {
	color: #FFF;
	font-size: 56px;
	font-weight: bold;
}
#digits .descr {
	color: #808080;
	font-size: 18px;
	margin-top: 20px;
}

#service .wrap {
	display: flex;
	gap: 24px;
	text-align: center;
}
#service .item {
	border: 1px solid #CCC;
	width: 33.33%;
	box-sizing: border-box;
	color: #808080;
	padding: 24px;
	font-size: 18px;
	margin-top: 0;
}
#service h3 {
	color: #212121;
	font-weight: bolder;
	font-size: 24px;
	margin-top: 17px;
	margin-bottom: 0px;
}
#service .descr {
	margin-top: 10px;
	line-height: 25px;
}
#service .btn {
	width: 100%;
	max-width: 336px;
	margin-top: 10px;
	box-sizing: border-box;
}
#service .item:hover {
	background-color: #212121;
}
#service .item:hover h3 {
	color: #FFF;
}
#service .item:hover .btn {
	background-color: #FFF;
	color: #212121;
}
#service .item:hover img {
	filter: brightness(10) invert(1);
}

#process .container {
	display: flex;
	gap: 80px;
	justify-content: center;
}
#process .col {
	width: 100%;
}
#process .col.c1 {
	max-width: 510px;
}
#process .col.c2 {
	flex-grow: 1;
}
#process .item {
	margin-top: 44px;
	display: flex;
	gap: 25px;
}
#process .square {
	border: 4px solid #212121;
	width: 96px;
	height: 96px;
	font-size: 40px;
	font-weight: bolder;
	text-align: center;
	line-height: 2;
	box-sizing: border-box;
}
#process .title_desc {
	width: 492px;
/*	height: 96px;*/
}
#process p {
	color: #808080;
	font-size: 16px;
	line-height: 1.65;
	font-weight: 500;
}
#process h3 {
	color: #212121;
	font-size: 24px;
	margin-top: 0;
	margin-bottom: 5px;
}

#houses .wrap {
	display: flex;
	gap: 24px;
}
#houses .item {
	position: relative;
	border: 1px solid #CCC;
	color: #808080;
}
#houses .status {
	position: absolute;
	top: 15px;
	left: 16px;
	background: #212121;
	color: #FFF;
	padding: 5px 9px;
	font-size: 14px;
}
#houses .inner {
	color: #212121;
	font-size: 18px;
	font-weight: 500;
	padding: 24px;
}
#houses .inner .row .s1 {
	font-size: 32px;
	font-weight: 700;
}
#houses .row.c3 {
	font-weight: 700;
	margin-top: 16px;
}
#houses .row.c4 {
	margin-bottom: 24px;
}
#houses .row.c5 {
	gap: 16px;
	display: flex;
}
#houses .row.c5 .btn {
	flex-grow: 1;
}
#houses .item .like {
	border: 2px solid #212121;
}
#houses .item:hover .inner{
	background-color: #212121;
	color: #FFF;
}
#houses .item:hover .btn {
	background-color: #FFF;
	color: #212121;
}
#houses .item:hover .icon {
	fill: #FFF;
}
#houses .item:hover .like {
	fill: #212121;
	border: 2px solid #FFF;
}

#blog .wrap {
	display: flex;
	gap: 24px;
}
#blog .item {
	width: 33.33%;
	font-size: 18px;
	border: 1px solid #CCC;	
}
#blog .inner {
	padding: 24px;
}
#blog .row.c1 {
	font-size: 18px;
	color: #808080;

}
#blog .row.c2 {
	font-size: 24px;
	font-weight: bold;
	color: #212121;
}
#blog .wrap .btn {
	width: 100%;
	margin-top: 10px;
	box-sizing: border-box;
}
#blog .container .wrap .item:hover {
	color: #FFF;
	background-color: #212121;
}
#blog .item:hover .row.c2 {
	color: #FFF;
}
#blog .item:hover .btn {
	background-color: #FFF;
	color: #212121;
}

/*#reviews .wrap {
	display: flex;
	justify-content: space-between;
	gap: 24px;
}*/
#reviews .wrap .item {
	/*width: 50%;*/
	border: 1px solid #CCC;
	padding: 32px;
	background-color: #FFF;
	font-size: 18px;
}
#reviews .inner {
	display: flex;
}
#reviews .preview {
	border-radius: 50%;
	width: 100%;
	max-width: 48px;
	margin-right: 12px;
}
#reviews p {
	margin-top: 0px;
	line-height: 25px;
	margin-bottom: 17px;
}
#reviews .col {
	line-height: 25px;
	font-weight: 800;
}
#reviews .col .rating_area {
	font-weight: 500;
	font-size: 14px;
}
#reviews .item {
	background: url(images/reviews/laps.jpg) no-repeat;
	background-position-x: 94%;
	background-position-y: 80%;
}

#staff .wrap {
	display: flex;
	gap: 24px;
	justify-content: space-between;
}
#staff .item {
	width: 25%;
	border: 1px solid #CCC;
	padding: 24px;
	background-color: #FFF;
	text-align: center;
}
#staff .preview {
	border-radius: 50%;
	width: 100%;
	max-width: 112px;
	margin: 0 auto 24px auto;
}
#staff .row.c1 {
	font-size: 24px;
	font-weight: 800;
	letter-spacing: -0.1px;
}
#staff .row.c2 {
	margin-top: 11px;
	font-size: 18px;
	margin-bottom: 24px;
}
#staff .row.c3 .btn {
	padding: 14px 0;
	display: block;
}
#staff .item:hover {
	background-color: #212121;
}
#staff .item:hover .row {
	color: #FFF;
}
#staff .item:hover .btn {
	background: #FFF;
	color: #212121;
}

#faq .container{
	display: flex;
	justify-content: space-between;
	gap: 78px;
}
#faq .item {
	display: flex;
	border-bottom: 1px solid #CCC;
	flex-direction: column;
}
#faq .hidden_area {
	display: none;
	color: #808080;
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 24px;
	margin-top: 16px;
}
#faq .item.active .hidden_area {
	display: block;
}
#faq .click {
	font-size: 18px;
	margin-top: 24px;
	margin-bottom: 16px;/*24px*/
	cursor: pointer;
}

#get_in_touch .container {
	display: flex;
	gap: 78px;
}
#get_in_touch .col.c1 {
	width: 100%;
	max-width: 510px;
	background-color: #FFF;
	border: 1px solid #CCC;
	padding: 32px;
	box-sizing: border-box;
}
#get_in_touch .field_area {
	display: flex;
	flex-direction: column;
	font-size: 14px;
}
#get_in_touch .field {
	padding: 19px 10px 21px 21px;
	margin: 6px 0 12px 0;
	border: 2px solid #212121;
	box-sizing: border-box;
	font-size: 18px;
	font-family: Gilroy;
}

#touch_submit {
	margin-top: 40px;
	width: 100%;
	padding: 13px 0px 18px 0px;
	font-size: 24px;
	font-weight: 500;
}
#get_in_touch .title_area {
	margin-bottom: 24px;
}
#get_in_touch .socnet {
	display: flex;

}
#get_in_touch .socnet .item {
	padding: 15px 5px 8px 14px;
	border: 2px solid #212121;
	min-width: 25px;
	margin-right: 16px;
}
#get_in_touch .socnet .item:hover{
	fill: #FFF;
	border: 2px solid #FFF;
	background-color: #212121;
}
#get_in_touch .socnet .item:hover .icon {
	fill: #FFF;
}
#get_in_touch p {
	font-size: 18px;
	padding-top: 3.3px;
	line-height: 1.4;
	margin-bottom: 64px;
}
#get_in_touch .wrap {
	font-size: 24px;
	margin-top: 40px;
	line-height: 40px;
}

#touch_message {
	resize: none;
}

#subscribe .title_area.s1 {
	margin-bottom: 0px;
}
#subscribe p {
	font-size: 18px;
	font-weight: 500;
	color: #808080;
	width: 55%;
	text-align: center;
	margin: 27px auto 64px auto;
	line-height: 1.4;
}
#subscribe #subscribe_form {
	position: relative;
	width: 100%;
	margin: 24px auto;
	max-width: 792px;
}
#subscribe .field_email {
	width: 100%;
	border: 2px solid #212121;
	font-size: 18px;
	padding: 35px 200px 35px 30px;
	box-sizing: border-box;
	font-weight: 500;
	display: block;
}
#subscribe #subscribe_form .btn {
	position: absolute;
	margin: 0;
	top: 0;
	right: 15px;
	transform: translate(0, 25%);
	padding: 17px 37px 17px 35px;;
}

footer {
	background-color: #212121;
	color: #808080;
	padding-top: 100px;
	padding-bottom: 100px;
	font-size: 18px;
}

footer .container {
	display: flex;
	justify-content: space-between;
	gap: 24px;
}
footer .item {
	width: 25%;
}
footer .socnet {
	display: flex;
}
footer .socnet .item {
	padding: 8px 5px 8px 5px;
	border: 2px solid #FFF;
	margin-right: 15px;
	width: 30px;
	text-align: center;
}
footer .socnet .item:hover {
	border: 2px solid #FFF;
	background-color: #FFF;
}
footer .socnet .item:hover .icon {
	fill: #212121;
}
footer h3 {
	font-size: 24px;
	margin: 0 0 19px 0;
	color: #FFF;
}
footer a {
	text-decoration: none;
	display: block;
	color: #808080;
	margin-top: 11px;
}
footer p {
	margin-top: 12px;
	line-height: 25px;
}
footer .item.c4 img {
    filter: brightness(8) invert(0);
    width: 18px;

}
footer .item .title {
	width: 93px;
	padding: 0 0px 7px 10px;
	letter-spacing: 19px;
}

/* Адаптив */
@media all and (max-width: 1230px) {
	.bimg123 {
		display: block;
		width: 100%;
	}
	.container {
		padding-left: 15px;
		padding-right: 15px;
	}

	nav {
		gap: 30px;
	}

	#about .container {
		flex-direction: column;
	}
	#about .col.c2 {
		text-align: center;
	}

	#process .container {
		gap: 15px;
	}
	#process .col {
		width: 45%;
	}

	#faq .container {
		flex-wrap: wrap;
		flex-direction: column;
	}
	#faq .col.c2 {
		text-align: center;
		width: 100%;
	}

}

@media all and (max-width: 920px) {
	.no920 {
		display: none;
	}
	#process .container {
		flex-wrap: wrap; 
	}
	#process .col {
		width: 100%;
	}
	#process .col.c1 {
		order: 2;
	}

	#get_in_touch .container {
		flex-wrap: wrap;
		flex-direction: column;
		align-items: center;
	}
	#get_in_touch .col.c1 {
		order: 2;
	}

	#staff .wrap {
		flex-wrap: wrap;
		justify-content: space-evenly;
	}
	#staff .item {
		width: 40%;
	}

	.hamburger {
		cursor: pointer;
		order: 2;
	}
	.hamburger > div {
		width: 50px;
		height: 5px;
		background-color: #212121;
		margin-bottom: 10px;
	}
	.hamburger > div:last-child {
		margin-bottom: 0;
	}
}

@media all and (max-width: 768px) {
	.bimg768 {
		display: block;
		width: 100%;
	}

	#digits .item {
		width: 45%;
	}
	#service .wrap {
		flex-wrap: wrap;
	}
	#service .item {
		width: 100%;
	}

	#houses .wrap {
		flex-wrap: wrap;
	}
	#houses .item {
		width: 100%;
	}

	#blog .wrap {
		flex-wrap: wrap;
	}
	#blog .item {
		width: 100%;
	}

	#reviews .wrap {
		flex-wrap: wrap;
	}
	#reviews .wrap .item {
		width: 100%;
	}

	#staff .item {
		width: 100%;
	}

	#subscribe p {
		width: 100%;
	}
	#get_in_touch .col.c2 {
		width: 80%;
	}

	footer .container {
		flex-wrap: wrap;
		gap: 12px;
		justify-content: center;
	}
	footer .item {
		width: 80%;
		margin-bottom: 10px;
	}


}

@media all and (max-width: 480px) {
	.no480 {
		display: none;
	}

	header .row.c1 {
		flex-direction: column;
		gap: 15px;
		align-items: flex-start;
	}
	
	.hamburger {
		position: absolute;
		right: 25px;
		top: 25px;
	}

	#digits .item {
		width: 100%;
	}

	#process .item {
		margin-top: 20px;
	}

	#houses .inner {
		padding: 10px;
	}
	#houses .row.c4 > span {
		display: inline-block;
		margin: 5px 5px 5px 0;
	}

	#blog .row.c1 > span {
		display: inline-block;
	}

	#reviews .item {
		background: none;
	}

	#staff .wrap {
		flex-wrap: wrap;
	}
	#staff .item {
		width: 100%;
	}

	#subscribe #subscribe_form .btn {
		transform: translate(0, 65%);
		padding: 10px 10px 10px 10px;
	}
	#subscribe .field_email {
		padding: 35px;
	}
	#subscribe #subscribe_form .btn {
		position: unset;
		width: 100%;
	}

	footer .item {
		width: 100%;
		margin-bottom: 10px;
	}
}
